
.project-section {
  margin: 2rem 0;
}
.experiance-card {
  page-break-inside: avoid;
}

.experience-list {
  list-style: none;
  padding: 0;
}

.experience-item {
  margin-bottom: 1.5rem;
}

.experience-item h3 {
  margin: 0.5rem 0;
}

.experience-item p {
  margin: 0;
}
li {
  margin-left: 10px;
  margin-right: 1px;
  list-style: square;
}
.slds-card {
  margin: 10px !important;
  padding: 10px !important;
}
hr {
  margin: 5px 0px;
}

.project-header {
  background-color: #f3f4f6;
  padding: 2rem;
  text-align: center;
}

.filter-container {
  margin-top: 1rem;
}

.project-timeline {
  display: flex;
  overflow-x: auto;
  padding: 1rem 0;
  white-space: nowrap;
}

.milestone {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 20px;
}

.project-card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 10px;
}

.tech-tag {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #0099cc;
  color: white;
  border-radius: 5px;
}
